#タイトル{
  color : red;
}

#flwBoxImage{
  max-width: 200px;
  height : auto;
}

#じょうろアクション{
  max-width: 200px;
  height : auto;
}

#種と花{
  max-width: 200px;
  height : auto;
}

#クリア画面{
  opacity: 0;
  width : 100%;
  height: 100%;
  transition: opacity 3s;
  object-position: left center;
  position : fixed;
  top : 0;
  left : 1000;
  object-fit: contain;
  z-index: -1;
}
